html {
  height: 100%;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 1088px) {
  .maxwidth {
    margin-right: auto;
    margin-left: auto;
    max-width: 1346px;
  }
}
.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 5rem;
}

body {
  background-image: url("../images/funky-lines.png");
}

/* copy-paste from box.sass */
/* decoration : border, shadow, rounded */
.box-deco {
  border-radius: 10px;
  color: #4a4a4a;
  display: block;
}

a.box-deco:hover, a.box-deco:focus, a.box-deco:active {
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.box-deco {
  border: 1px solid #dbdbdb;
}

.header-deco,
.footer-deco {
  border: 1px solid #802020;
}

.box-deco,
.header-deco,
.footer-deco {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.box-deco:hover, .box-deco:focus,
.header-deco:hover,
.header-deco:focus,
.footer-deco:hover,
.footer-deco:focus {
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.box-deco:hover, .box-deco:focus {
  border: 1px solid #c2c2c2;
}

.header-deco {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-deco {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-item {
  border-bottom: 1px solid #802020;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 10px;
}
.blog-item:hover, .blog-item:focus {
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*# sourceMappingURL=main.css.map */
